.dotted__responsive {
  position: relative;
}

.dotted__responsive::after {
  border-top: 4px dotted rgb(96 165 250) ;
  content: "";
  position: absolute;
  right: 0;
  top: 19px;
  width: calc(100% - 3.9375rem);
}

@media only screen and (max-width: 600px) {
  .dotted__responsive p,
  h3 {
    padding-left: 59px;
  }

  .dotted__responsive::after {
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    border-left: 4px dotted rgb(96 165 250);
    content: "";
    position: absolute;
    right: 44px;
    top: 68px;
    height: calc(100% - 4rem);
    transform-origin: left top;
  }
}